@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --light-blue: #E8ECFD;
    --light-blue-text: #4A6BF1;
    --light-blue-placeholder: rgb(74, 107, 241, .6);
    --blue-text: #1738BE;
    --dark-blue: #0C1C5F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header{
    padding: 2rem 2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.page-header .avatar{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

.page-header span{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.page-content{
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.chat-box{
    width: 700px;
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-right: 0.5rem;
    padding-bottom: 1.5rem;
}

.chat-box::-webkit-scrollbar{
    width: 0.5rem;
}

.chat-box::-webkit-scrollbar-thumb{
    background-color: var(--blue-text);
    border-radius: 0.25rem;
}

.chat-box::-webkit-scrollbar-track{
    background-color: none;
    margin-bottom: 0.5rem;
}

.chat-box .go-to-bottom-btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: none;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-text);
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0);
}

.go-to-bottom-btn:hover{
    cursor: pointer;
}

.fa-chevron-down{
    color: #fff;
}

.chat-box .chat{
    width: 100%;
    display: flex;
    gap: 1.75rem;
}

.chat .chat-icon{
    width: 40px;
    height: 40px;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}

.chat .chat-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chat-content .chat-content-title{
    font-weight: 700;
    color: var(--blue-text);
    font-size: 1.5rem;
    line-height: 2rem;
}

.chat-content .chat-content-text{
    font-weight: 400;
    color: var(--blue-text); 
    font-size: 1rem;
}

.chat-input{
    width: 808px;
    height: 52px;
    border-radius: 26px;
    padding: 0.5rem 1rem;
    background-color: var(--light-blue);
}

.chat-input form{
    display: flex;
    height: 100%;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-blue-text);
}

input::placeholder{
    color: var(--light-blue-placeholder);
}

.submit-btn{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: none;
    outline: none;
    background: none;
    transition: all 0.25s ease;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: var(--light-blue-text);
    transition: all 0.25s ease;
}

.fa-paper-plane{
    color: var(--light-blue-text);
    transition: all 0.25s ease;
}

.submit-btn:hover .fa-paper-plane{
    color: var(--light-blue);
    transition: all 0.25s ease;
}